<left>
    <br>
    <br>
        <b> Info </b> <br>
        <i><font color=orangered>Update: 01-03-2024</font></i><br>
        <i><font color=orangered>Quotes: "Life are series of interesting decisions"</font></i>
    </left>
    <left>
        <br>
        <br>
            <b> Team </b> <br>
            <i> <a href="https://github.com/Tung-1991"  style="color:orangered">Tùng Nguyễn 2k not 91 ^_^</a> <br>
        </i>
        </left>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
